@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --screen-background: hsl(217, 54%, 11%);
    --card-background: hsl(216, 50%, 16%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--soft-blue);
}

body {
    font-family: 'outfit';
    font-size: 18px;
    background-color: var(--screen-background);
}

.container {
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-box {
    width: 340px;
    padding: 1.4em;
    background-color: var(--card-background);
    display: flex;
    flex-direction: column;
    justify-content: center;   
    border-radius: 13px;
    box-shadow: 10px 10px 30px rgb(11, 1, 39);
}

.container-image {
    width: 100%;
    border-radius: 13px;
    cursor: pointer;
}

.container-title {
    font-weight: 600;
    color: white;
    margin: 0.7em 0;
    cursor: pointer;
}

.flex {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    border-bottom: 1px solid hsl(215, 32%, 27%);  
    padding-bottom: 1em;
}

.price-box,
.days-box {
    display: flex;
    gap: 8px;
}

.price {
    color: var(--cyan);
}

.days,
.price,
.creation-text {
    font-size: 16px;
}

.flex-creation {
    display: flex;
    margin-top: 0.8em;
    align-items: center;
    gap: 14px;
}

.perfil-image {
    width: 12%;
    border: 1px solid white;
    border-radius: 20px;
}

.creation-link{
    color: white;
}

.container-title:hover,
.creation-link:hover,
.attribution a:hover {
    color: var(--cyan);
    transition: 0.8s;
}

.attribution {
    display: flex;
    justify-content: center;
    font-size: 16px;
}

.attribution a {
    margin: 0 0.3em;
    color: white;
}